* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  background-color: #0a1e3f;
}

header {
  background-color: #091a37;
  display: flex;
  justify-content: flex-end;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  padding: 0 20px;
  font-size: 1.3em;
  text-decoration: none;
}

.std-content-box-content p a {
  font-size: 1em;
  padding: 0;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin-right: auto;
  font-size: 3.5em;
  padding: 20px;
}

h2 {
  font-size: 3em;
}

.welcome-area {
  text-align: center;
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 1.5em;
}

.welcome-area img {
  width: 30em;
  height: 20em;
  border-radius: 25px;
}

.welcome-area-text {
  width: 30em;
}

.main-content {
  margin: 0 auto;
  width: 60%;
}

.std-content-box {
  background-color: #192a47;
  border-radius: 25px;
  padding: 30px;
  display: flex;
  align-items: center;
  margin-top: 1.5em;
}

.my-work-content-box {
  background-color: #192a47;
  border-radius: 25px 25px 0 0;
  padding: 30px;
  display: flex;
  align-items: center;
  margin-top: 1.5em;
}

.std-content-box-heading {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%;
  border-right: 5px solid white;
  /* I sourced the below code using 'flex-basis' from a MDN web documentation page.
  See README.MD for further details. */
  flex-basis: 50%;
}

.std-content-box-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 3em;
}

.projects-container {
  background-color: #192a47;
  border-radius: 0 0 25px 25px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.hero-project {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: white 5px solid;
  text-align: center;
  background-color: #091a37;
}

.hero-project a {
  display: flex;
  flex-direction: column;
  height: 25em;
  text-decoration: none;
}

.hero-project figcaption {
  font-size: 1.75em;
}

.hero-project img {
  height: 0;
  /* I sourced the blow code using 'flex-grow' from mdn web docs documentation.
  See README.MD for full details. */
  flex-grow: 1;
}

.secondary-project {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 45%;
  height: 15em;
  text-align: center;
  border: white 3px solid;
  background-color: #091a37;
}

.secondary-project a {
  display: flex;
  flex-direction: column;
  height: 25em;
  text-decoration: none;
}

.secondary-project figcaption {
  font-size: 1.25em;
}

.secondary-project img {
  height: 0;
  /* I sourced the blow code using 'flex-grow' from mdn web docs documentation.
  See README.MD for full details. */
  flex-grow: 1;
}

.std-content-box a {
  padding: 0 20px;
  font-size: 1.3em;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: flex-end;
  height: 3em;
  align-items: center;
  background-color: #091a37;
  margin-top: 1.5em;
}

footer p {
  margin-right: 2em;
  font-size: 1em;
}

/* Media query selectors below */
@media screen and (max-width: 1450px) {
  .secondary-project {
    width: 80%;
  }

  .main-content {
    width: 85%;
  }
}

@media screen and (max-width: 800px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  header h1 {
    margin-right: 0;
  }

  nav {
    /* background-color: red; */
    align-items: center;
    padding-bottom: 15px;
  }

  .welcome-area {
    flex-direction: column;
  }

  .welcome-area-text {
    padding-bottom: 15px;
  }

  .std-content-box {
    flex-direction: column;
  }
  .my-work-content-box {
    flex-direction: column;
  }
  .std-content-box-heading {
    border-right: 0;
  }
  .std-content-box-content {
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    text-align: center;
  }
}
